

     .post-outer .avatar img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .post-outer {
        display: flex;
    }
    
    .user-name{
        padding-left: 30px;
        vertical-align: center;
    }
    
    .reactions{
        margin: 40px 0;
        padding: 0 0 18px 0;
        border-bottom : 3px solid grey;
    }

    .posts img {
        height: 400px;
        width: 400px;
        background-size: contain;
        background-position: center;
        object-fit: contain;

    }

    
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .post-outer {
        scale : 0.8;
    }

    .posts{
        margin-top: 20px;
    }
}

